
@{
    ViewBag.Title = "Eliminar Item";
}

<div class="row">
    <div class="col-md-12 title">
        <h1>Borrar Item</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Publicacion", "ItemRegisterView", "Item")</li>
            <li>@Html.ActionLink("Item", "ItemRegisterView", "Item")</li>
            <li>@Html.ActionLink("Buscar", "ItemSearchView", "Item")</li>
            <li>@Html.ActionLink("Detalle", "ItemDetailView", "Item")</li>
            <li class="active">Borrar </li>
        </ol>
    </div>
</div>

<div class="col-md-10">
<div class="form-group">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchText">Cód. Item</label>
                <input class="form-control" id="disabledImput" type="text" placeholder="000001" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchText">Fecha de Registro</label>
                <input class="form-control" id="disabledImput" type="text" placeholder="25/09/2014" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchText">Nombre Editorial</label>
                <input class="form-control" id="disabledImput" type="text" placeholder="Bruño" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchText">Estado</label>
                <input class="form-control" id="disabledImput" type="text" placeholder="Activo" disabled>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchText">Nombre Biblioteca</label>
                <input class="form-control" id="disabledImput" type="text" placeholder="Biblioteca Central" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="searchText">Stock Disponible</label>
                <input class="form-control" type="text" placeholder="30" disabled>
            </div>
        </div>
    </div>

</div>
    <div class="form-group">
        <div class="col-sm-4">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Eliminar
            </button>
        </div>
        <div class="col-sm-4">
            <input type="button" class="btn btn-primary" value="Modificar" disabled />
        </div>
        <div class="col-sm-4">
            <input type="button" class="btn btn-primary" value="Guardar" disabled />
        </div>

    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label class="control-label">
                        <!--for="inputFechaInicio" class="control-label"-->
                        ¿Estas seguro que quieres eliminar
                    </label>
                    <label class="control-label">
                        el Item seleccionado?
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" data-dismiss="modal" onclick="window.location.href = 'ItemSearchResultView'">Aceptar</button>
                <button type="button" class="btn btn-default">Cancelar</button>
            </div>

        </div>
    </div>
</div>

