
@{
    ViewBag.Title = "SearchResultTipoSancion";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Políticas", "Index", "Home")</li>
            <li>@Html.ActionLink("Tipo de Sancion", "Buscar", "TipoSancion")</li>
            <li class="active">Buscar </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12 title">
        <h1>Búsqueda de tipo de sanción</h1>

    </div>
</div>
<div class="col-md-10">
  @if (TempData["message"] != null)
    {
        <div class="alert alert-success" role="alert">@TempData["message"]</div>
    }
    @if (TempData["alert"] != null)
    {
        <div class="alert alert-danger" role="alert">@TempData["alert"]</div>
    }

</div>


<div class="col-md-6">
    <form action="@Url.Action("Search", "TipoSancion")" class="form-horizontal" method="post" role="form">

        <div class="form-group">
            <label for="searchText">Búsqueda por nombre</label>
            <input type="text" name="searchText" value=" " placeholder="Búsqueda ..." class="form-control">
        </div>



        <div class="form-group">
            <button class="btn btn-primary pull-right">Buscar</button>
        </div>
    </form>


</div>
  

<form action="@Url.Action("DetailView", "Suscripcion")" class="form-horizontal" method="post" role="form">
    <div class="col-md-10">
        <div class="row">

            <table class="table-responsive table table-striped">
                <tr>
                    <th class="cod">Cód. Tipo Sanción</th>
                    <th class="titulo">Nombre</th>
                    <th class="tipo">Fecha desde:</th>
                    <th class="tipo">Fecha hasta:</th>
                    <th class="text-center"> </th>
                </tr>

                <tr>
                    <td>00001</td>
                    <td>Daño a material</td>
                    <td>19/01/1993</td>
                    <td>19/01/1994</td>
                    <td>
                        <a href="@Url.Action("Detail", "TipoSancion", new { id = 2 })"><i class="margin-right-icon glyphicon glyphicon-zoom-in"></i></a>
                        <a href="@Url.Action("Modify", "TipoSancion", new { id = 2 })"><i class="margin-right-icon glyphicon glyphicon-pencil"></i></a>    
                        <a href="#"><i class="margin-right-icon glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal"></i></a>               

                    </td>
                </tr>
                <tr>
                    <td>00002</td>
                    <td>Tardanza en entrega</td>
                    <td>10/01/2013</td>
                    <td>01/01/2014</td>
                    <td>
                        <a href="@Url.Action("Detail", "TipoSancion", new { id = 3 })"><i class="margin-right-icon glyphicon glyphicon-zoom-in"></i></a>
                        <a href="@Url.Action("Modify", "TipoSancion", new { id = 3 })"><i class="margin-right-icon glyphicon glyphicon-pencil"></i></a>
                        <a href="#"><i class="margin-right-icon glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal"></i></a> 
                    </td>
                </tr>
                <tr>
                    <td>00003</td>
                    <td>Perdida de material</td>
                    <td>01/01/2014</td>
                    <td>30/02/2014</td>
                    <td>
                        <a href="@Url.Action("Detail", "TipoSancion", new { id = 4 })"><i class="margin-right-icon glyphicon glyphicon-zoom-in"></i></a>
                        <a href="@Url.Action("Modify", "TipoSancion", new { id = 4 })"><i class="margin-right-icon glyphicon glyphicon-pencil"></i></a>
                        <a href="#"><i class="margin-right-icon glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal"></i></a>      
                    </td>
                </tr>
                <tr>
                    <td>00004</td>
                    <td>Perdida de material</td>
                    <td>01/03/2014</td>
                    <td>30/04/2014</td>
                    <td>
                        <a href="@Url.Action("Detail", "TipoSancion", new { id = 5 })"><i class="margin-right-icon glyphicon glyphicon-zoom-in"></i></a>
                        <a href="@Url.Action("Modify", "TipoSancion", new { id = 5 })"><i class="margin-right-icon glyphicon glyphicon-pencil"></i></a>
                        <a href="#"><i class="margin-right-icon glyphicon glyphicon-remove" data-toggle="modal" data-target="#deleteModal"></i></a>     
                    </td>
                </tr>
            </table>

            <div>
                <ul class="pagination">
                    <li><a href="#">&laquo;</a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#">&raquo;</a></li>
                </ul>
            </div>

            
        </div>
    </div>




</form>


<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
            </div>
            <div class="modal-body">
                <div>
                    <label class="control-label">
                        <!--for="inputFechaInicio" class="control-label"-->
                        ¿Estas seguro que quieres Eliminar los
                    </label>
                    <label class="control-label">
                        cambios para este Tipo de Sanción?
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <a href="@Url.Action("Delete", "TipoSancion", new { id = 4 })" class="btn btn-primary">Aceptar</a>
            </div>

        </div>
    </div>
</div>