@using SAB.Domain.Acquisition
@{
    ViewBag.Title = "Detalle Proveedor";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li class="active">Proveedor </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12 title">
        <h1>Detalle Proveedor</h1>
    </div>
</div>
@{Supplier proveedor = (Supplier)ViewData["supplier"]; }


<div class="col-md-10">

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="exampleInputEmail1">Código</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" disabled="disabled" value="@proveedor.Id">
            </div>
            <div class="col-md-6">
                <label for="exampleInputEmail1">Fecha de Registro</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" disabled="disabled" value="@proveedor.RegisterDate.ToShortDateString()">
            </div>

        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="exampleInputEmail1">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" disabled="disabled" value="@proveedor.Name">
            </div>

            <div class="col-md-6">
                <label for="exampleInputEmail1">Contacto</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" disabled="disabled" value="@proveedor.Contacto">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="exampleInputEmail1">RUC</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" disabled="disabled" value="@proveedor.Ruc">
            </div>

            <div class="col-md-6">
                <label for="exampleInputEmail1">Telefono</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" disabled="disabled" value="@proveedor.Telephone">
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-6">
                <label for="exampleInputEmail1">Correo Electrónico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="" disabled="disabled" value="@proveedor.Email">
            </div>

            <div class="col-md-6">
                <label for="exampleInputEmail1">Dirección</label>
                <input type="text" class="form-control" id="exampleInputEmail1" placeholder="" disabled="disabled" value="@proveedor.Address">
            </div>
        </div>
    </div>




    <div class="col-sm-12" style="height:30px;"></div>
    <!--Botones Limpiar, cancelar, guardar-->
    <div class=" col-md-3">
        <!--
        <div class="btn-toolbar">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                Eliminar
            </button>



        </div>
            -->
    </div>
    <div class="col-md-3">

    </div>

    <div class="col-md-3">
        <!--
        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal" disabled>
            Guardar
        </button>
        -->
        @Html.ActionLink("Modificar", "ModifySupplier", "Supplier", new { id = @proveedor.Id }, new { @class = "btn btn-primary" })
    </div>



    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmación</h4>
                </div>
                <div class="modal-body">
                    <div>
                        <label class="control-label">
                            <!--for="inputFechaInicio" class="control-label"-->
                            ¿Estas seguro que quieres guardar los
                        </label>
                        <label class="control-label">
                            cambios para este Proveedor?
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-primary">Aceptar</button>
                </div>

            </div>
        </div>
    </div>
