
@{
    ViewBag.Title = "Búsqueda";
}

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li>@Html.ActionLink("Préstamos", "LoanSearch", "Loan")</li>
            <li>@Html.ActionLink("Buscar", "LoanSearch", "Loan")</li>
            <li class="active">Resultados</li>
        </ol>
    </div>
</div>


<div class="row">
    <div class="col-md-12 title">
        <h1>Búsqueda Préstamos</h1>
    </div>
</div>

<div class="col-md-10">
    <form action="@Url.Action("LoanList", "Loan")" class="form-horizontal" method="post" role="form">

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="searchText">Código de Préstamo:</label>
                    <input type="text" name="searchText" value=" " placeholder="Búsqueda ..." class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="searchText">Código de Publicación:</label>
                    <input class="form-control" type="text" placeholder="00001">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-6">
                    <label for="searchText">Código de Usuario:</label>
                    <input type="text" name="searchText" value=" " placeholder="Búsqueda ..." class="form-control">
                </div>
                <div class="col-md-6">
                    <label for="searchText">Fecha de Inicio:</label>
                    <input type="text" name="searchText" value=" " placeholder="Búsqueda ..." class="form-control">
                </div>
            </div>
        </div>

        <div class="form-group">
            <button class="btn btn-primary pull-right">Buscar</button>
        </div>
    </form>
    <form action="@Url.Action("LoanShow", "Loan")" class="form-horizontal" method="post" role="form">
        <div class="col-md-10">
            <div class="row">

                <table class="table-responsive table table-striped">
                    <tr>
                        <th class="cod">Cód. Préstamo</th>
                        <th class="titulo">Cód. Publicación</th>
                        <th class="tipo">Cód. Item</th>
                        <th class="tipo">Estado</th>
                        <th class="tipo"></th>

                    </tr>
                    <tr>
                        <td>000150</td>
                        <td>00001</td>
                        <td>00000001</td>
                        <td>Activo</td>
                        <td>
                            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked></label>
                        </td>
                    </tr>
                    <tr>
                        <td>000090</td>
                        <td>00001</td>
                        <td>00000002</td>
                        <td>Finalizado</td>
                        <td>
                            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked></label>
                        </td>
                    </tr>
                    <tr>
                        <td>000050</td>
                        <td>00001</td>
                        <td>00000003</td>
                        <td>Finalizado</td>
                        <td>
                            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked></label>
                        </td>
                    </tr>
                    <tr>
                        <td>000040</td>
                        <td>00001</td>
                        <td>00000004</td>
                        <td>Finalizado</td>
                        <td>
                            <label><input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked></label>
                        </td>
                    </tr>
                </table>

                <div>
                    <ul class="pagination">
                        <li><a href="#">&laquo;</a></li>
                        <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">&raquo;</a></li>
                    </ul>
                </div>

                <div class="col-lg-offset-4">
                    <button class="btn btn-primary pull-right">Ver Detalle</button>
                </div>
            </div>
        </div>
    </form>

</div>
